.orderdetail{
  margin: 100px 170px;
}
.orderdetail hr{
  height: 3px;
  background-color: #e2e2e2;
  border: 0;
}
.orderdetail-format-main{
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.orderdetail-format {
  font-size: 17px;
  font-weight: 500;
}
.orderdetail-product-icon{
  height: 62px;
}
.orderdetail-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.orderdetail-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background-color: #fff;
}

.orderdetail-down{
  display: flex;
  margin: 100px 0px;
}

.orderdetail-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* margin-right: 200px; */
  gap: 40px;
}
.orderdetail-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;  
}
.orderdetail-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background-color: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.orderdetail-promocode{
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  visibility: hidden;
}
.orderdetail-promocode p {
  color: #555;
}
.orderdetail-promobox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background-color: #eaeaea;
}
.orderdetail-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
.orderdetail-promobox button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media(max-width:1280px) {
  .orderdetail {
      margin: 60px 50px;
  }
  .orderdetail-format-main {
      grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr;
      gap: 20px;
      padding: 15px 0px;
      font-size: 15px;
  }

  .orderdetail-product-icon {
          height: 50px;
      }
  .orderdetail-remove-icon {
          margin: auto;
      }
  .orderdetail-quantity {
          width: 40px;
          height: 30px;
      }
  .orderdetail-down {
          margin: 80px 0px;
          flex-direction: column;
          gap: 80px;
      }
  .orderdetail-total {
          margin: 0px;
      }
  .orderdetail-total button {
          max-width: 200px;
          height: 45px;
          font-size: 13px;
      }
  .orderdetail-promobox {
          width: auto;
          max-width: 500px;
      }
  .orderdetail-promobox input {
          width: 100%;
      }
  .orderdetail-promobox button {
          width: 120px;
          margin-left: -125px;
      } 
}
@media(max-width:500px) {
  .orderdetail-format-main {
      display: none;
      grid-template-columns: 0.5fr 3fr 0.5fr;
      gap: 10px;
  }
  .orderdetail-format {
      display: grid;
  }
}
