.searchresults-header{
    margin: 30px 170px;
}
.searchresults-header p {
    margin: 15px 0px;
    font-weight: 500;
}
.searchresults-header p span {
    font-weight: 600;
}
.searchresults-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.searchresults-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.searchresults-sort select {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins';
    cursor: pointer;
}
.searchresults-indexSort p span {
    font-weight: 600;
}
.searchresults-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.searchresults-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px) {
    .searchresults-indexSort {
        width: 90%;
        margin: auto;
    }
    .searchresults-sort {
        padding: 5px 10px;
        font-size: 12px;
    }
    .searchresults-indexSort p {
        font-size: 12px;
    }
    .searchresults-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .searchresults-products .item {
        margin: auto;
    }
    .searchresults-loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px) {
    .searchresults-products {
        width: 95%;
    }
    .searchresults-loadmore {
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
@media(max-width:500px) {
     .searchresults-products {
        grid-template-columns: 1fr 1fr;
     }
}
